@font-face {
    font-family: 'Woodcut';
    src: url(../fonts/WOODCUT.TTF);
    font-display: swap;
}

@font-face {
    font-family: 'Insane Rodeo';
    src: url(../fonts/IFC_INSANE_RODEO.ttf);
    font-display: swap;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    background: url(../images/intro_bg.jpg) no-repeat;
    background-size: cover;
    box-shadow: 1px 34px 148px 51px rgba(0,0,0,0.71) inset;
}

.registration__section {
    margin-bottom: 150px;
    width: 820px;
    height: 550px;
    background: url(../images/registation_card_bg.jpg) no-repeat;
    background-size: 100%;
    border-radius: 3px 3px 200px 200px;
    box-shadow: 0px -10px 250px 25px rgba(0,0,0,0.51) inset;
}

.registation__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 350px;
}

.registation__input {
    height: 100px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 50px;

    background: url(../images/crossed-pistol-guns-pair-vintage-etched-engraved-style-84584540.jpg) no-repeat;
    background-position-y: -45px;
    background-size: 100%;
    box-shadow: 1px 1px 80px 1px rgba(0,0,0,0.75) inset;

    font-family: 'Insane Rodeo';
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    color: rgb(255, 119, 40);
    text-shadow:0px 1px 0 rgb(255,255,255),0px -1px 0 rgb(255,255,255),1px 0px 0 rgb(255,255,255),-1px 0px 0 rgb(255,255,255),1px 1px 0 rgb(255,255,255),1px -1px 0 rgb(255,255,255),-1px 1px 0 rgb(255,255,255),-1px -1px 0 rgb(255,255,255),0px 2px 0 rgb(255,255,255),0px -2px 0 rgb(255,255,255),2px 0px 0 rgb(255,255,255),-2px 0px 0 rgb(255,255,255),2px 2px 0 rgb(255,255,255),2px -2px 0 rgb(255,255,255),-2px 2px 0 rgb(255,255,255),-2px -2px 0 rgb(255,255,255);
    cursor: pointer;
}

.registation__input::placeholder {
    color: orangered;
    text-shadow:0px 1px 0 rgb(255,255,255),0px -1px 0 rgb(255,255,255),1px 0px 0 rgb(255,255,255),-1px 0px 0 rgb(255,255,255),1px 1px 0 rgb(255,255,255),1px -1px 0 rgb(255,255,255),-1px 1px 0 rgb(255,255,255),-1px -1px 0 rgb(255,255,255),0px 2px 0 rgb(255,255,255),0px -2px 0 rgb(255,255,255),2px 0px 0 rgb(255,255,255),-2px 0px 0 rgb(255,255,255),2px 2px 0 rgb(255,255,255),2px -2px 0 rgb(255,255,255),-2px 2px 0 rgb(255,255,255),-2px -2px 0 rgb(255,255,255);
    font-size: 50px;
}

.registation__input:focus::placeholder {
    color: transparent;
    text-shadow: none;
}

.registation__input:focus {
    cursor: text;
    border: none;
}

.registration__btn {
    height: 50px;
    width: 380px;
    font-family: 'Woodcut';
    font-size: 40px;
    text-transform: uppercase;

    border-radius: 20px;
    border: none;
    color: #e2e2e2;
    cursor: pointer;
    background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
    box-shadow: 0 6px rgb(86,38,6),
                0 3px 15px rgba(0,0,0,.4),
                inset 0 1px rgba(255,255,255,.3),
                inset 0 0 3px rgba(255,255,255,.5);
    transition: .15s;
} 

.registration__btn:hover {
    background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}

.registration__btn:active {
    background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
    transform: translate(0, 4px);
    box-shadow:
    0 2px rgb(86,38,6),
    0 1px 6px rgba(0,0,0,.4),
    inset 0 1px rgba(255,255,255,.3),
    inset 0 0 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
}
